header {
    width: 100%;
    height: 60px; 
    background-color: black;
    color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
  }

  .cabecalho{
    background-color: rgb(166, 171, 180);
    display: flex;
  }
  
  .foto{
    width: 200px;
    height: 200px;

  }
  .info{
    padding-left: 20px;
  }
  .icons{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border-color: black;
    
  }
  ol {
    list-style-type: none; /* Remove a numeração padrão */
    padding-left: 20px; /* Ajusta o recuo da lista */
  }
  ol li {
    position: relative; /* Necessário para posicionar os marcadores */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    padding-left: 25px; /* Espaçamento para os marcadores */
  }
  ol li::before {
    content: '•'; /* Adiciona uma bolinha como marcador */
    position: absolute;
    left: 0; /* Posiciona a bolinha à esquerda */
    color: black; /* Cor da bolinha */
    font-size: 20px; /* Tamanho da bolinha */
    line-height: 1; /* Alinha a bolinha com o texto */
  }

  footer{
    background-color: rgb(0, 0, 0);
    color: white;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .fundo{
    background-color:rgb(228, 228, 228)
  }

  .botao-fipets{
    display: inline-block;
    width:  30px; 
    height: 30px; 
    background-image: url('images/LOGO.png'); 
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem no botão */
    border-radius: 12px;
    color: transparent;
    text-align: center; 
    line-height: 50px; 
    cursor: pointer;  
  }

  .botao-imgur{
    display: inline-block;
    width:  30px; 
    height: 30px; 
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Adobe_Photoshop_CC_icon.svg/512px-Adobe_Photoshop_CC_icon.svg.png'); 
    background-size: cover; /* Ajusta a imagem para cobrir todo o botão */
    background-position: center; /* Centraliza a imagem no botão */
    border-radius: 12px;
    color: transparent;
    text-align: center; 
    line-height: 50px; 
    cursor: pointer;  
  }

  body{
    background-color: rgb(73, 73, 73);
  }

